.searchresult {
  display: flex;
  position: relative;
  margin: 20px;
  border-bottom: 1px solid lightgray;
  opacity: 1;
  z-index: 100;
}
.searchresult:hover {
  opacity: 0.8;
}
.searchresult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}
.searchresult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.searchresult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}
.searchresult__infoTop {
  width: 40vh;
}
.searchresult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}
.searchresult__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}
.searchresult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}
.searchresult__star {
  color: red;
}
.searchresult__stars {
  display: flex;
  align-items: center;
}
.searchresult__price > p {
  text-align: right;
}
.searchresult__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
